<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
    	<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://218.17.249.3:8093/qidian.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://218.17.249.3:8093/Pinsole2G-icon@2x.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://218.17.249.3:8093/Pinsole2G-icon-57h.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>subtitle</key>
				<string>奇点平台</string>
				<key>title</key>
				<string>奇点平台</string>
				<key>bundle-version</key>
				<string>1.0.2</string>
				<key>kind</key>
				<string>software</string>
				<key>bundle-identifier</key>
				<string>com.szhorn.Singularity</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
